extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header 
        h3 Searching by #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Video Found
        else
            each item in videos
                +videoBlock({
                    videoFile:item.videoFile,
                    title: item.title,
                    views:item.views,
                    id:item.id
                })